<table>
    <thead>
        <tr>
            <th>Keyword</th>
            <th>Resource</th>
        </tr>
    </thead>
    <tbody>
        {{#resources}}
        <tr>
            <td>{{keyword}}</td>
            <td>{{resource}}</td>
        </tr>
        {{/resources}}
    </tbody>
</table>
