
<!-- pdf_resource_table.mustache -->
<div class="pdf-resource-table">
    <table>
        <tr>
            <th>Keyword</th>
            <th>Resource</th>
        </tr>
        {{#keywords}}
        <tr>
            <td>{{keyword}}</td>
            <td>{{resource}}</td>
        </tr>
        {{/keywords}}
    </table>
</div>
